@font-face {
  src: url("../assets/ThirdRail.ttf");
  font-family: 'ThirdRail';
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 50px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn-more-info {
  padding: 1em 5em;
  background-color: #fed136;
  transition: transform 100ms ease-in;
  border-radius: 0;
}

.btn-more-info:active, .btn-more-info:focus {
  outline: none;
  box-shadow: none;
}

.btn-more-info:hover {
  transform: scale(1.1);
  color: white;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'ThirdRail', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
  font-weight: 700;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  .registration-link {
    text-transform: uppercase;
    font-weight: 700;
  }
  .registration-link i {
    font-size: 1.0em;
    margin-left: 5px;
  }
}

header.masthead {
  position: relative;
  text-align: center;
  color: white;
  background-color: rgba(52, 58, 64, 0.9);
}

header.masthead:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/gearsbackground.jpg);
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  font-weight: 200;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  color: #fed136;
  font-size: 3em;
  font-weight: 100;
  line-height: 40px;
  font-family: 'ThirdRail', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text a {
  margin-top: 50px;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 250px;
    padding-bottom: 500px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 3em;
    line-height: 40px;
    margin-bottom: 120px;
    font-weight: 200;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 8em;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 50px;
    font-family: 'ThirdRail', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

#basic-info {
  background-color: #fff;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.basic-info-title {
  font-size: 1em;
  text-transform: uppercase;
  border-bottom: 2px solid #fed136;
  display: inline-block;
}

.basic-info-item {
  margin-bottom: 20px;
}

.basic-info-item span {
  font-weight: 700;
  font-size: 1.1em;
}

.basic-info-item a {
  color: #000;
  font-weight: 700;
}

#registration-process {
  background-color: #343a40;
}

#registration-process p {
  color: #fff;
  display: inline-block;
  margin: 10px;
  font-size: 1.3em;
}

#registration-process img {
  height: 120px;
  margin: 50px 0;
}

#registration-process .section-heading {
  color: #fed136;
}

#registration-process .section-subheading {
  color: #fff;
}

#registration-process .registration-title {
  font-family: 'ThirdRail', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fed136;
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
}

#registration-process .registration-step {
  margin-bottom: 50px;
}

#registration-process .registration-step span {
  font-weight: 700;
}

#references img {
  height: 120px;
  margin: 10px 0;
}

#references .reference-images {
  margin-bottom: 100px;
}

.team-member {
  margin-bottom: 20px;
}

.team-member img {
  width: 150px;
  height: 150px;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

.about-info {
  padding: 0;
  list-style: none;
  text-align: left;
  font-size: 1em;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.about-info a {
  font-weight: 700;
  color: inherit;
}

.about-info li {
  margin: 10px;
  text-align: left;
}

.about-info li span {
  color: #fecb1d;
  font-weight: 700;
}

.social-buttons {
  margin-top: 20px;
}

.social-buttons li {
  text-align: center;
}

section#contact {
  background-color: #343a40;
}

section#contact .section-heading {
  color: #fff;
}

section#contact a {
  text-decoration: none;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}
