// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
.about-info{
  padding: 0;
  list-style: none;
  text-align: left;
  font-size: 20px;
  li{
    margin: 25px 0;
    span{
      color:darken($primary, 5%);
      font-weight: 700;
    }
  }
  @include heading-font;
}
