// Styling for the services section

#basic-info{
  background-color: #fff;

}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}


.basic-info-title {
  font-size: 1em;
  text-transform: uppercase;
  border-bottom: 2px solid $primary;
  display: inline-block;


}
.basic-info-item{
  margin-bottom: 20px;
  span{
    font-weight: 700;
    font-size: 1.1em;
  }
  a{
    color:$black;
    font-weight: 700;

  }
}
