// Styling for the services section

#basic-info{
  background-color: #fff;

}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}


.basic-info-title {
  font-size: 1em;
  text-transform: uppercase;
}
