// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  @include background-cover;
  background-color: $gray-800;


  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;

    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-weight: 200;
      @include heading-font;
    }

    .intro-heading {
      color: $primary;
      font-size: 3em;
      font-weight: 100;
      line-height: 40px;
      @include third-rail;
    }

    a {
      margin-top: 50px;
    }
  }
}

@media(min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 500px;

      .intro-lead-in {
        font-size: 3em;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 120px;
        font-weight: 200;
        @include heading-font;
      }

      .intro-heading {
        font-size: 8em;
        font-weight: 100;
        line-height: 30px;
        margin-bottom: 50px;
        @include third-rail;
      }
    }

  }


}
