// Styling for the portfolio section
#portfolio {
  .portfolio-item {
    right: 0;
    margin: 0 0 30px;
    .portfolio-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      text-decoration: none;
      .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($primary, .1);
        &:hover {
          opacity: 1;
        }
        .portfolio-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .portfolio-caption {
      width: 100%;
      height: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 50px;
      text-align: center;
      background-color: $white;
      min-height: 240px;
      h3 {
        color: $gray-800;
      }
      h4 {
        margin: 0;
        text-transform: none;
        color: $gray-800;
      }
      h5 {
        color: $primary;
      }
      p {
        font-size: 16px;
        font-style: italic;
        margin: 20px 0 0 0;
      }
      a {
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
  * {
    z-index: 2;
  }
}

@media(min-width: 767px) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}

.portfolio-modal {
  padding-right: 0px !important;
  .modal-dialog {
    margin: 150px auto;
    max-width: 50vw;
  }
  .modal-content {
    padding: 50px 0;
    text-align: center;
    h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
    button {
      cursor: pointer;
    }
    .modal-description {
      @include heading-font;
      margin: 30px 0;
      .modal-description-row {
        display: block;
        margin: 10px auto;
        width: 80%;
      }
      div {
        text-align: left;
        display: inline-block;
        font-size: 16px;
      }
      .value {
        font-weight: 600;
        color: $gray-700;
      }
      .modal-description-conclusion {
        margin-top: 30px;
        text-align: center;
        h4 {
          text-align: center;
          color: $primary;
        }
        ul {
          list-style: none;
          text-align: left;
          li {
            margin: 10px 0;
          }
        }
      }

    }
  }

  .modal-backdrop {
    font-size: 10px;
  }
}
